body {
    position: relative;
}
.content{
    background-color: rgba(255,255,255,0.4);
    height: 100%;
    width: 100%;
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
}
.content h1{
    padding-top: 0px;
    margin-top: 0px;
}

#About {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #ff0000;
    background-image: url("Schwab.jpg");
    background-size: cover;
}
#About img{
    float: left;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    border: 5px solid #222;
}

#Hobbies {
    /*padding-top:50px;*/
    height:500px;
    color: #fff;
    background-color: #ff9800;
    background-image: url("Team2.jpg");
    background-size: cover;
}
#Family {
    /*padding-top:50px;*/
    height:500px;
    color: #fff;
    background-color: #00bcd4;
    background-image: url("Team1.jpg");
    background-size: cover;
}

#Footman {
    background-color: #222;
    color: #9d9d9d;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
    
