body {
    position: relative;
}
#Home {
    padding-top:50px;
    height:500px;color: #fff;
    background-color: #1E88E5;
}
#About {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #673ab7;
}
#Hobbies {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #ff9800;
}
#Family {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #00bcd4;
}

#Footman {
    height: 100px;
    background-color: #222;
}
#Footbox {
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
    
