body {
    position: relative;
}

.navbar{
    height: 80px;
}
.navbar-inverse{
    height: 80px;
}
.navbar-fixed-top{
    height: 80px;
}

#Home {
    padding-top:50px;
    height:500px;color: #fff;
    background-color: #1E88E5;
}
#About {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #673ab7;
}
#Hobbies {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #ff9800;
}
#Family {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #00bcd4;
}

#Footman {
    height: 80px;
    background-color: #222;
}
#Footbox {
    color: #9d9d9d;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}
    
